body {
    margin:0;
    padding:0;
    font-family: "Playfair Display", serif;
    text-rendering: optimizeLegibility;
}
a, a:hover, a:visited {
    color: #7d038f;
}   

.title-content {
    max-width: 750px;
    margin: auto;
}

iframe,
img,
video {
    max-width: 100%;
}

.with-video-bg {
    position: relative;
    background-size: cover;
    margin-bottom: 2em;

    /* Center everything inside */
    min-height: 80svh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* White text with a shadow */
    color: white;
    text-shadow: 0px 0px 30px black,
        0px 0px 10px rgba(0, 0, 0, 0.5);
}

.video-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.subhead {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
}

.content {
    max-width: 700px;
    margin: auto;
    padding: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Space between buttons and chart */
}

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto; /* Center the chart area */
    width: 80%; /* Adjust width as needed */
    /* background-color: #d4c3db; */
    max-width: 500px;
}

#chart svg {
    width: 100%;
}

#chart text {
    font-family: "Playfair Display", serif;
    font-size: 12px; /* Adjust font size as needed */
    fill: #333; /* Change text color */
}

button {
    font-family: "Playfair Display", serif;
    font-size: 10px; /* Adjust font size as needed */
    color: white; /* Text color */
    background-color: #2f2e2f; /* Background color */
    border: none; /* Remove default border */
    padding: 5px 10px; /* Add padding */
    margin: 5px; /* Add margin */
    cursor: pointer; /* Add pointer cursor on hover */
    border-radius: 2px; /* Rounded corners */
}

button:hover {
    background-color: #005f9e; /* Darken background on hover */
}

figcaption {
    font-size: 0.8em;
    text-align: left;
    margin-top: 0.5em;
    color: #666;
}


.header {
    padding: 3em 0;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100vh;
}


#map {
    position: sticky;
    top: 0;
    height: 100vh; /* Ensure the map takes full container height */
    width: 100vw;
    z-index: 0;
}

#mapInset {
    bottom:50px;
    right:30px;
    height: 180px;
    width:250px;
    max-width:100%;
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}
#mapInset .mapboxgl-ctrl-bottom-left{
    display: none;
}

#story {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.lineTest-label, .lineControl-label {
    font-family: "Playfair Display", serif;
    font-size: 12px; /* Change to your desired font size */
    font-weight: bold; /* Optional: Change to your desired font weight */
}
@media (max-width: 500px) {
    #mapInset {
        display: none;
    }
}
#header {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 5;
}
#header h1, #header h2, #header p {
    margin: 0;
    padding: 2vh 2vw;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 3em;
    line-height: 1.1;
}

.footer {
    background: #f4f4f4;
    text-align: center;
    font-size: 0.8em;
    margin-top: 4em;
    padding: 4em 0;
}


#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.hidden {
    visibility: hidden;
}
.centered {
    width: 40vw;
    margin-left: 50vw;
}
.lefty {
    width: 25vw;
    margin-left: 5vw;
}
.righty {
    width: 25vw;
    margin-left: 62vw;
}
.fully {
    width: 35vw;
    margin: auto;
}
.light {
    color: #444;
    background-color: #fafafa;
}
.dark {
    color: #fafafa;
    background-color: #444;
}
.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}
.step.active {
    opacity: 0.9;
}

.step div {
    padding:  25px 50px;
    line-height: 25px;
    font-size: 13px;
}

.step img {
    width: 100%;
}


@media (max-width: 750px) {
    .centered, .lefty, .righty, .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}